@import "./home.scss";

* {
  margin: 0;
  padding: 0px;
}
*::after,
::before {
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

input {
  outline: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
.container {
  max-width: 1285px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
