.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  img {
    width: 188px;
    height: 63.1px;
  }
  input {
    width: 624px;
    height: 36px;
    padding-left: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid gray;
  }
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    .ico {
      width: 21.84px;
      height: 20px;
    }
    p {
      color: rgb(0, 0, 0);
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

.header {
  display: flex;
  gap: 30px;
  align-items: center;
  .left {
    width: 296px;
    height: 352px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
    background: rgb(255, 255, 255);
    .cate {
      color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      text-align: center;

      padding-top: 10px;
      padding-bottom: 10px;
      background: linear-gradient(
        143.66deg,
        rgb(246, 77, 77) -55.899%,
        rgb(77, 94, 246) 97.559%
      );
    }
    .card {
      display: flex;
      align-items: center;
      gap: 13px;
      padding-top: 14px;
      img {
        width: 20px;
        object-fit: contain;
        text-align: center;
        margin-left: 50px;
      }
      p {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 300;
        line-height: 16px;
        text-align: center;
      }
    }
  }
}

.products {
  padding-top: 100px;
  h2 {
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    padding-bottom: 30px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 30px;
    .card {
      border-radius: 4px;
      box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
      background: rgb(255, 255, 255);
      padding: 5px;
      width: 280.5px;
      height: 330px;
      text-align: center;
      box-shadow: 0px 0px 0px grey;
      transition: box-shadow 0.6s ease-out;
      box-shadow: 0.8px 0.9px 3px grey;
      &:hover {
        box-shadow: 1px 8px 20px grey;
        transition: box-shadow 0.6s ease-in;
      }
      img {
        width: 100%;
        object-fit: contain;
        margin: 0 auto;
      }
      h3 {
        padding-top: 30px;
        color: rgb(255, 67, 67);
        font-size: 23px;
        font-weight: 500;
        line-height: 16px;
        span {
          color: rgba(70, 70, 70, 0.55);
          font-size: 20px;
          font-weight: 400;
          line-height: 12px;
          text-decoration: line-through;
        }
      }
      p {
        color: rgb(0, 0, 0);
        font-size: 25px;
        font-weight: 300;
        line-height: 124.19%;
        padding-top: 10px;
      }
    }
  }
}

.contact {
  .cards {
    display: flex;
    gap: 60px;
    margin-top: 40px;
    .left {
      width: 550px;
      background-color: rgb(31, 218, 218);
      padding: 60px;
      height: 300px;
      h1 {
        color: rgb(255, 255, 255);
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
      }
      p {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 500;
        line-height: 19px;
        text-transform: lowercase;
        padding-top: 30px;
        width: 234px;
      }
    }
    .right {
      form {
        display: flex;
        flex-direction: column;
        label {
          color: rgb(55, 55, 55);
          font-size: 17px;
          font-weight: 500;
          line-height: 16px;
          text-transform: capitalize;
          margin-top: 20px;
        }
        input {
          box-sizing: border-box;
          border: 1px solid rgb(51, 160, 255);
          border-radius: 0px 3px 3px 0px;

          box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.01);
          background: rgb(255, 255, 255);
          width: 530.15px;
          height: 63.17px;
          outline: none;
          padding-left: 10px;
        }
        textarea {
          resize: none;
          outline: none;
          padding-left: 10px;
          padding-top: 10px;
        }
      }
    }
  }
  .form {
    display: flex;
    align-items: center;
    padding-top: 60px;
    .inp {
      border: 2px solid rgb(188, 221, 254);
      width: 433px;
      height: 42px;
      padding-left: 10px;
      margin-left: 400px;
    }
    button {
      background: rgb(64, 191, 255);
      width: 127px;
      height: 45px;
      margin-left: -2px;
      border: none;
      color: rgb(255, 255, 255);
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
    }
  }
}
